* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}

body {
    background-color: rgb(150, 150, 150);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.calendar {
    position: relative;
    display: flex;
    justify-content: center;
    height: 60vh;
    width: 100%;
    position: relative;

}


.calendar-side {
    background-color: white;
    width: 60%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    box-shadow: 0 0 10px 2px white;
}

.calendar-side .month {
    width: 100%;
    height: 10%;
    text-align: center;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.calendar-side .weekdays {
    width: 100%;
    height: 10%;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    border-radius: 40px;
    display: flex;
    justify-content: space-around;
    position: relative;
    color: white;
    align-items: center;
}


.calendar-side .days p {
    width: calc(100%/7);
    text-align: center;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}


.eventp .container {
    display: flex;

}

.eventp .container i {
    width: 20%;
    margin: 0.4vh;
    cursor: pointer;
}

.eventp .container div {
    width: 80%;
}

.calendar-side .year {
    text-align: center;
    width: 100%;
    height: 10%;
    font-size: 40px;
    font-weight: 600;
}

.calendar-side .days {
    display: flex;
    max-width: 100%;
    height: 70%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;

}


.calendar-side button.previous {
    position: absolute;
    top: 0px;
    background-color: white;
    border: none;
    font-size: 34px;
    color: gray;
    outline: currentColor;
    margin-right: auto;
    border-radius: 40px;
    padding: 0px;
}

.calendar-side button.next {
    position: absolute;
    top: 0px;
    background-color: white;
    border: none;
    font-size: 34px;
    color: gray;
    outline: currentColor;
    margin-left: 57%;
    text-align: end;
    border-radius: 40px;
    padding: 0px;
}


.calendar-side .days .before {
    opacity: 35%
}

.calendar-side .days .after {
    opacity: 35%
}

p:hover {
    font-weight: bold;
    color: rgb(144, 227, 230)
}


.current.activated {
    font-weight: bold;
    color: rgb(144, 227, 230);
    transform: scale(1.35)
}


.event-side {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    align-content: center;
    text-align: center;
    width: 40%;
}


.send {
    border-radius: 20px;
    outline: none;
    margin-left: 10px;
    border: none;
    font-size: 1.5em;
    background-color: inherit;
    color: white;
    width: 10%;
}


.calendarcontainer {
    height: 60vh;
    display: inline-block;
    width: 50vw;
    margin-top: 4;
    position: relative;
    overflow: hidden;

}

.input {
    border-radius: 10px;
    border: none;
    background-color: white;
    border-bottom: 2px solid white;
    outline: none;
    position: relative;
    color: black;
    width: 90%;
    font-size: 18px;
    margin-left: 10px;
    padding: 0.2em 0;
}

.sendit {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 10%;
}

.sendcontainer {
    margin-top: 53vh;
    width: 100%;
}


.eventp {
    position: absolute;
    text-align: left;
    color: white;
    font-size: 18px;
    top: 8vh;
    width: 40%;
}

.eventhead {
    position: absolute;
    color: white;
    width: 40%;
    text-align: start;
}


.eventp>div {
    width: 100%;
    word-wrap: break-word;
}

@media screen and (max-width:1000px) {

    .calendar-side button.next {
        font-size: 26px;
        margin-left: 54%;
    }

    .calendar-side button.previous {
        font-size: 26px;
    }


    .calendarcontainer {
        width: 95vw;
    }
}

@media screen and (max-width: 500px) {

    .calendar-side .year {
        font-size: 1.4em;
    }

    .calendar-side .month {
        font-size: 1.4em;
    }

    .calendar-side .days p {
        font-size: 0.7em;
    }

    .calendar-side .weekdays {
        font-size: 0.75em;
    }

    .event-side .eventhead {
        font-size: 1.3em;
    }

    .event-side div {
        font-size: 0.92em;
    }
}

@media screen and (max-width: 280px) {

    .calendar-side .year {
        font-size: 1.2em;
    }

    .calendar-side .month {
        font-size: 1.2em;
    }

    .calendar-side .days p {
        font-size: 0.6em;
    }

    .calendar-side .weekdays {
        font-size: 0.7em;
    }

    .event-side .eventhead {
        font-size: 1.1em;
    }

    .event-side div {
        font-size: 0.85em;
    }
}

@media screen and (max-height:740px) {

    .sendcontainer {
        margin-top: 50vh;
    }
}